<header class="flex w-full border-b border-b-slate-500 border-opacity-15 p-4 justify-between items-center">
    <div class="flex items-center gap-2">
        <a href="/">
            <app-logo name="logo" width="32px" height="32px" color="#3a6ea5"></app-logo>
        </a>
        <p class="text-sm font-extrabold text-slate-700">{{ pageTitle$ | async}}</p>
    </div>
    <div class="nav-options"></div>

    <div id="actions" class="flex  gap-3">
        <a class="flex items-center gap-2" href="/chat">
            <ng-icon name="heroSparklesSolid" class="text-ocean-500" size="20"></ng-icon>
            <p class="text-sm text-slate-700">Chats</p>
        </a>
        <button class="flex items-center gap-2" (click)="showModal()">
            <ng-icon name="saxNotificationBold" class="text-ocean-500" size="20"></ng-icon>
            <p class="text-sm text-slate-700">Notifications</p>
        </button>
        <app-notifications-pane [isOpen]="modalOpen" (closeModal)="closeModal()"></app-notifications-pane>
    </div>
</header>