<nav class="flex flex-col min-w-72 max-w-xs pr-4 border-r border-r-slate-500 border-opacity-15 gap-5 h-full">
    <a class="flex items-center gap-1 px-2 py-1" routerLink="general"
        routerLinkActive="bg-ocean-100 text-ocean-700 font-medium rounded">
        <ng-icon name="heroCog8Tooth" class="text-ocean-500" size="20"></ng-icon>
        <p class="text-sm  text-slate-700">General</p>
    </a>

    <a class="flex items-center gap-1 px-2 py-1" routerLink="components"
        routerLinkActive="bg-ocean-100 text-ocean-700 font-medium rounded">
        <ng-icon name="heroCog8Tooth" class="text-ocean-500" size="20"></ng-icon>
        <p class="text-sm  text-slate-700">Components</p>
    </a>

    <a class="flex items-center gap-1 px-2 py-1" routerLink="version-control"
        routerLinkActive="bg-ocean-100 text-ocean-700 font-medium rounded">
        <ng-icon name="heroCog8Tooth" class="text-ocean-500" size="20"></ng-icon>
        <p class="text-sm  text-slate-700">Version Control</p>
    </a>
</nav>